@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    height: 100%;
    color: #06172c;
    background: #faf6f6;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}

.wrapper-block {
    border-radius: 24px;
    max-width: 400px;
    margin: 0 auto;
    height: 814px;
    min-height: 100%;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);

}

.container {
    border-radius: 24px;

    margin: 0 auto;
    padding: 0 15px;
}

/*===========Header============*/
button {
    all: unset;
    cursor: pointer;
}

.header-block__image-block {
    position: relative;
    display: block;
}

.header-block__image-block img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.header-block__image-nav {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header-block__image-icon {
    display: block;
    width: 24px;
    height: 24px;
}

/*==========MAIN===========*/
.main-block__container {
    margin-top: 15px;
}

.main-block__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-block__title-wrap {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.main-block__title-name {
    font-weight: 600;
    font-size: 26px;
    color: #06172c;
}

.main-block__title-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block__title-icon svg {
    width: 14px;
    height: 15px;
}

.main-block__title-about {
    margin-top: 14px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(6, 23, 44, 0.6);
}

.main-block__title-location {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.main-block__location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.main-block__location-icon svg {
    width: 12px;
    height: 14px;
}

.main-block__info-block {
    margin-top: 16px;
    display: flex;
    padding: 0 3px;
    align-items: center;
    justify-content: space-between;
}

.info-block__item {
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 4px;
    width: 76px;
    height: 64px;
    border-radius: 8px;
    font-size: 14px;
    color: #06172c;
    background: #ebedef;
}

.info-block__item-title {
    font-weight: 600;
}

.info-block__item-description {
    font-weight: 400;
}

.main-block__about-block {
    margin-top: 30px;
}

.about-block__description {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.01em;
    color: #06172c;
}

.about-block__description span {
    color: #ff1c7b;
}

.footer-block {
    margin-top: 30px;
}

.footer-block__container {
    display: flex;
    column-gap: 14px;
}

.footer-block__button-wrapper {
    border-radius: 8px;
    padding: 12px 10px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.share {
    flex: 1;

    color: #06172c;
    background: #ebedef;
}

.take-home {
    flex: 2;

    color: #fff;
    background: #ff1c7b;
}

.footer-block__button-wrapper svg {
    width: 20px;
    height: 20px;
}

